@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body{
    margin: 0%;
    font-size: 20px;
}

#main{
    background: #191919;
    width: 100vw; 
    height: 300vh;
    position: absolute;
    overflow: hidden;
}

#title{
    margin: 20px 0px;
    font-family: 'Manrope';
    font-size: 4.8rem;
    color: #DEDEDE;
    z-index: 2;
    position: relative;
    text-align: center;
}

#bg-rect-1{
    position: absolute;
    width: 65vw;
    height: 125vh;
    left: -22vw;
    top: -4vw;
    background: #1D1D1D;
    transform: rotate(-45deg);
    z-index: 0;
}

#bg-rect-2{
    position: absolute;
    width: 80vw;
    height: 165vh;
    left: 30vw;
    top: -10vh;
    background: #212121;
    transform: rotate(-135deg);
     z-index: 0;
}

.container-event{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.container-bar{
    color: white;
    margin: 10px 0px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    
    /* CSS Nesting */
    /* version browser support https://caniuse.com/?search=nesting */
    .text-left{
        width: 10%;
        text-align: center;
    }

    .text-right{
        width: 10%;
        text-align: center;
    }
}

.p-bar{
    /* display: flex;
    position: absolute; */
    /* transform: translateX(33.333%); */
    width: 60vw;
    height: 1rem;
    border-radius: 0.2rem;
    width: 80%;
}

.inc-bar{
    position: relative;
    width: 100%;
    height: 100%;
    background: #363636;
    border-radius: 0.2rem;
}

.comp-bar{
    position: relative;
    width: 20%;
    height: 100%;
    background: #D9D9D9;
    border-radius: 0.2rem;
    transition: width 0.2s ease-in-out;
}

.text-containL{
    position: relative;
    width: 20vw;
    text-align: center;
}

.event{
    position: relative;
}

.event-textL{
    position: relative;
    font-family: 'Manrope';
    font-weight: 200;
    color: #DEDEDE;
    font-size: 1rem;
    top: 5.05rem;
}

.text-containR{
    width: 20vw;
    /* background-color: #D9D9D9; */
    margin-left: 80vw;
    text-align: center;
}

.event-textR{
    position: relative;
    font-family: 'Manrope';
    font-weight: 200;
    color: #DEDEDE;
    font-size: 1rem;
    top: -1.3rem;
}

.bar-contain{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    justify-content: center;
}

#start{
    top: 20vh;
    width: 20vmin;
    height: 20vmin;
    background-color: #8a8a8a;
    position: relative;
    transform: rotate(45deg);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-clip: content-box;
    border: 0.25rem solid #8a8a8a;
    scale: 1;
    transition: scale 2s ease-in, top 2s ease-in, border 2s ease-in, background-color 2s ease-in;
}

#line{
    position: relative;
    top: -18.2vh;
    width: 50vw;
    height: 0.1rem;
    background-color: #DEDEDE;
    margin-left: auto;
    margin-right: auto;
}