@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    margin: 0%;
    font-size: 20px;
}

#main{
    background: #191919;
    width: 100vw; 
    height: 100vh;
    position: absolute;
    display: flex;
    overflow: hidden;
}

#title{
    position: relative;
    top: 2rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 4.8rem;
    margin-left: auto;
    margin-right: auto;
    color: #DEDEDE;
    z-index: 2;
}

#bg-rect-1{
    position: absolute;
    width: 65vw;
    height: 125vh;
    left: -22vw;
    top: -4vw;
    background: #1D1D1D;
    transform: rotate(-45deg);
}

#bg-rect-2{
    position: absolute;
    width: 80vw;
    height: 155vh;
    left: 30vw;
    top: -10vh;
    background: #212121;
    transform: rotate(-135deg);
}

.full-bar{
    display: flex;
    position: relative;
    transform: translateX(33.3%);
    width: 60vw;
    height: 1.5vh;
    border-radius: 0.2rem;
    margin-top: 4rem;
}

.inc-bar{
    position: relative;
    width: 100%;
    height: 100%;
    background: #363636;
    border-radius: 0.2rem;
}

.comp-bar{
    position: relative;
    width: 20%;
    height: 100%;
    background: #D9D9D9;
    border-radius: 0.2rem;
    transition: width 0.2s ease-in-out;
}

.text-containL{
    position: relative;
    width: 20vw;
    text-align: center;
}

.event{
    position: relative;
}

.event-textL{
    position: relative;
    font-family: 'Manrope';
    font-weight: 200;
    color: #FFFFFF;
    font-size: 1rem;
    top: 5.05rem;
}

.text-containR{
    width: 20vw;
    /* background-color: #D9D9D9; */
    margin-left: 80vw;
    text-align: center;
}

.event-textR{
    position: relative;
    font-family: 'Manrope';
    font-weight: 200;
    color: #FFFFFF;
    font-size: 1rem;
    top: -1.15rem;
}

.bar-contain{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    justify-content: center;
}