@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    margin: 0%;
    font-size: 20px;
}

#main{
    background: #191919;
    width: 100vw; 
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

#title{
    top: 2rem;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 4.8rem;
    margin-left: auto;
    margin-right: auto;
    color: #DEDEDE;
    z-index: 2;
    position: relative;
    text-align: center;
}

#bg-rect-1{
    position: absolute;
    width: 65vw;
    height: 125vh;
    left: -22vw;
    top: -4vw;
    background: #1D1D1D;
    transform: rotate(-45deg);
    z-index: 0;
}

#bg-rect-2{
    position: absolute;
    width: 80vw;
    height: 155vh;
    left: 30vw;
    top: -10vh;
    background: #212121;
    transform: rotate(-135deg);
     z-index: 0;
}

.container-event{
    position: relative;
    z-index: 2;
}

.container-bar{
    color: white;
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    
    /* CSS Nesting */
    /* version browser support https://caniuse.com/?search=nesting */
    .text-left{
        width: 10%;
        text-align: center;
    }

    .text-right{
        width: 10%;
        text-align: center;
    }
}

.p-bar{
    /* display: flex;
    position: absolute; */
    /* transform: translateX(33.333%); */
    width: 60vw;
    height: 1.5vh;
    border-radius: 0.2rem;
    width: 80%;
}

.p-bar .event{
    font-family: 'Manrope';
    font-weight: 200;
    color: #FFFFFF;
    font-size: 1rem;
    top: 7.5rem;
}

.t-bar{
    position: relative;
    width: 100%;
    height: 100%;
    background: #363636;
    border-radius: 0.2rem;
}

.c-bar{
    position: absolute;
    width: 50%;
    height: 100%;
    background: #D9D9D9;
    border-radius: 0.2rem;
}